<div id="wrapper">
    <h2 style="color: orangered"> {{ title }}</h2>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <h4>Products</h4>
            </li>
            <li>
                <h5> <a href="/addProduct">Add Products</a> </h5>
            </li>
            <li>
                <h5> <a href="#"> Manage Products</a> </h5>
            </li>


            <li class="sidebar-brand">
                <h4>Manage users</h4>
            </li>

            <li>
                <h5> <a href="#"> Users account</a> </h5>
            </li>
            <li>
                <h5> <a href="#">Users Orders</a> </h5>
            </li>


        </ul>
    </div>
</div>