<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <script src="/javascript/bootstrap.js" rel="script"></script>

      {{> scripts }}
  </head>
  <body>
  <div class="container">
      <div class="col-lg-offset-10">
          <span class="glyphicon glyphicon-shopping-cart"></span>
      </div>
          {{> navbar }}
      <h2 style="color: orangered"> {{ title }}</h2>
          <div class="row">
              <div class="col-md-2 pull-left">
                  {{> sidebar }}
              </div>
              {{{body}}}

          </div>

      </div>

{{> footer }}
  </body>
</html>
